@import 'prism';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  transition: background .15s ease-in-out, color .15s ease-in-out;

  &::before {
    display: none;
    visibility: hidden;
    content: 'small';

    @include respond-above(sm) {
      content: 'large'
    }
  }

  &.bright {
    background: $backgroundBright;
    color: $textBright;
  }

  &.dark {
    background: $backgroundDark;
    color: $textDark;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;

  @include respond-above(md) {
    font-size: 4rem;
  }
}

a {
  color: $brandPrimary;
}

a:has(code) {

  text-decoration: none;

  &.bright {
    color: $textBright;
  }

  &.dark {
    color: $textDark;
  }
}

blockquote {
  border-left: 3px solid $brandPrimary;
  padding: 0 1rem;
}

td, th {
  padding: 0 10px 10px 10px;
}

table {
  margin-bottom: 10px;
}

#toc {
  padding-left: 0;

  & > li {
    list-style-type: none;
    font-weight: bold;
  }

  & li li {
    list-style-type: disc;
    font-weight: normal;
  }
}

/* tabs */
.remark-code-tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1px));
  grid-template-rows: min-content auto;
  width: 100%;
  min-height: 10px;

  & > label {
    display: flex;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: .1rem solid #0000;
    border-radius: 5px 5px 0 0;
    padding: 5px;

    & > [type=radio] {
      appearance: none;
      margin: 0;
    }

    .bright & {
      background: shade($sidebarBright, 10%);
      border-color: shade($sidebarBright, 10%);
    }

    .dark & {
      background: shade($sidebarDark, 40%);
      border-color: shade($sidebarDark, 40%);
    }
  }

  & > :not(label) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  & > label:has(:checked) {
    color: $brandPrimary;
    border-bottom-color: $brandPrimary;
  }

  & > label:not(:has(:checked)) + * {
    display: none;
  }
}

.remark-code-tabs-x {
  width: 0;
  height: 0;
  visibility: hidden;
}

