@import 'prism';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  transition: background .15s ease-in-out, color .15s ease-in-out;

  &::before {
    display: none;
    visibility: hidden;
    content: 'small';

    @include respond-above(sm) {
      content: 'large'
    }
  }

  &.bright {
    background: $backgroundBright;
    color: $textBright;
  }

  &.dark {
    background: $backgroundDark;
    color: $textDark;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;

  @include respond-above(md) {
    font-size: 4rem;
  }
}

a {
  color: $brandPrimary;
}

a:has(code) {

  text-decoration: none;

  &.bright {
    color: $textBright;
  }

  &.dark {
    color: $textDark;
  }
}

blockquote {
  margin-left: 5px;
  border-left: 3px solid $brandPrimary;
  padding: 0 1rem;
}

td, th {
  padding: 0 10px 10px 10px;
}

table {
  margin-bottom: 10px;
}

#toc {
  padding-left: 0;

  & > li {
    list-style-type: none;
    font-weight: bold;
  }

  & li li {
    list-style-type: disc;
    font-weight: normal;
  }
}

.hidden {
  display: none !important;
}


/* tabs */
.remark-code-tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1px));
  grid-template-rows: min-content auto;
  width: 100%;
  min-height: 10px;

  & > label {
    display: flex;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: .1rem solid #0000;
    padding: 10px;

    & > [type=radio] {
      appearance: none;
      margin: 0;
    }

  }

  & > :not(label) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  & > label:has(:checked) {
    color: $brandPrimary;
    border-bottom-color: $brandPrimary;
  }

  & > label:not(:has(:checked)) + * {
    display: none;
  }
}

.remark-code-tabs-x {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* clipboard */
.remark-code-clipboard {
  position: relative;

  &:hover button {
    display: inline-grid;
  }

  & button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    fill: currentColor;
    opacity: .4;
    cursor: pointer;
    display: none;
  }
  & button:hover {
    opacity: .8;
  }


  .dark & button {
    border: solid 1px #{$textBright}22
  }

  .bright & button {
    border: solid 1px #{$textDark}22
  }

  .dark & button:hover {
    border: solid 1px #{$textBright}55
  }

  .bright & button:hover {
    border: solid 1px #{$textDark}55
  }

  .dark & button:active {
    border: solid 1px #{$textBright}
  }

  .bright & button:active {
    border: solid 1px #{$textDark}
  }
}