/.project
/.idea
/**/*.iml
/.settings/
/**/target/
!/docs/**/target/
/**/.attach_pid*
/tmp/
*.log
/kukumo-examples/spring-launcher-example/kukumo/.vscode/settings.json
.vscode/**
.flattened-pom.xml
.mvn/wrapper/maven-wrapper.jar
