/.project
/.idea
.settings
/**/*.iml
/.settings/
/**/target/
!/docs/**/target/
/**/.attach_pid*
/tmp/
*.log
/wakamiti-examples/spring-launcher-example/wakamiti/.vscode/settings.json
.vscode/**
.flattened-pom.xml
.mvn/wrapper/maven-wrapper.jar
/plugins/azure-wakamiti-plugin/src/test/java/es/iti/wakamiti/azure/ATest.java
