.project
.idea
.settings
.vscode
.factorypath
/**/*.iml
/**/target/
!/docs/**/target/
/**/.attach_pid*
package-lock.json
/tmp/
*.log
.flattened-pom.xml
.mvn/wrapper/maven-wrapper.jar
/plugins/azure-wakamiti-plugin/src/test/java/es/iti/wakamiti/azure/ATest.java
