// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #303236;
$textDark: #ddd;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #ecedee;
$textBright: #303236;

// Brand
$brandPrimary: #7e4cfe;