// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #303236;
$textDark: #dddddd;

// Bright theme
$backgroundBright: #ffffff;
$sidebarBright: #ecedee;
$textBright: #303236;

// Brand
$brandPrimary: #8161e7;