body, div, a, p, header, nav, aside, main, section, ol, iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    font: inherit;
    vertical-align: baseline;
}

.hidden {
    display: none;
}


.fa-blank {
    visibility:hidden !important;
}

.external-icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 1em;
    height: 1em;
}

section img {
    max-width: 100%;
    height: auto;
}

section blockquote {
    background: #e7f5f7;
    border-left: 0.5em solid #cfd1d1;
    margin-inline-start: 0;
    padding: 1em;
    font-size: 0.8em;
}